<%= form_tag translations_path, :id => "#{locale}.#{key}".gsub('.', '-'), :class => 'translate form-horizontal', "data-remote" => true, :method => "post" do %>
  <%= hidden_field_tag :key, "#{locale}.#{key}" %>

  <span class='locale'><%= locale %>: </span><%= text_area_tag :value, val = (begin I18n.backend.translate locale, key; rescue; end), class: 'form-control' %>
  <%= submit_tag "Save", "data-disable-with" => "Saving...", :class => 'btn btn-default' %>
  <% if (default_val = (begin Translator.simple_backend.translate locale, key; rescue; end;)) != val %>
    <%= link_to "Default", '#', "data-recover" => default_val || "", :class => 'btn btn-default' %>
  <% end %>
<% end %>
