<div id='translations'>
  <h1>Translations</h1>
  <ul>
    <li><%= link_to_unless_current "All", translations_path(:show => "all") %></li>
    <li><%= link_to_unless_current "Application", translations_path(:show => "application") %></li>
    <li><%= link_to_unless_current "Framework", translations_path(:show => "framework") %></li>
    <li><%= link_to_unless_current "Deleted", translations_path(:show => "deleted") %></li>
  </ul>

  <div>
    <%= form_tag translations_path(:show => params[:show]), method: "get" do %>
      <%= label_tag :key, "Filter: " %>
      <%= text_field_tag :search, params[:search], :placeholder => "Search for text..." %>
      <%= select_tag :key, options_for_select([nil] + @all_keys.collect {|k| [k, k]}, params[:key]) %>
      <%= submit_tag "Submit" %>
    <% end %>
  </div>
  <% if params[:show] && params[:show] == 'deleted' %>
    <div>
      Those translations no longer exist in english translation file. You can delete them from database as application doesn't use them anymore.
    </div>
  <% end %>

  <% @keys.each do |key| %>
    <div id="<%= key %>" class="translation">
      <h2><%= key %></h2>

      <% if params[:show] && params[:show] == 'deleted' %>
        <%= link_to 'destroy', translation_path(id: key.gsub('.','-')),
                      remote: true,
                      method: :delete,
                      confirm: 'Are you sure? This operation is irrevisible.',
                      class: 'button warning',
                      title: 'Clear form database as translation no longer exists in default language file.'
        %>
      <% end %>
      <% Translator.locales.each do |locale| %>
        <%= render :partial => "form", :locals => {:locale => locale, :key => key} %>
      <% end %>
    </div>
  <% end %>

  <% unless @total_pages < 2 %>
    <% (1..@total_pages).each do |p| %>
      <%= link_to_unless_current p, translations_path(:show => params[:show], :page => p) %>
    <% end %>
  <% end %>
</div>

<div id="footer">
  <div id="shameless">
    Brought to you by <%= link_to "AmberBit" %> Ruby on Rails web development team.
    <br/>
    2010-2011 &copy; Hubert Łępicki &lt;hubert.lepicki@amberbit.com&gt;
  </div>
  <%= link_to image_tag("http://amberbit.com/images/logo.png"), "http://amberbit.com" %>
</div>

<script type="text/javascript">
  $("a[data-recover]").live("click", function(event) {
    event.preventDefault();
    $("input[type='text']", $(this).parents("form")).val($(this).attr("data-recover"));
  });
</script>

